header {
	text-align: center;
	border-bottom: 1px solid black;
	width: 100vw;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.container {
	display: flex;
}

.folder-btn {
	padding-left: 0;
	width: 100%;
	max-width: 300px;
}

button {
	height: 35px;
	width: 120px;
	margin: 10px;
}