.list-btn {
	list-style: none;
    padding: 2px 2vw;
	margin: 10px 15px;
	border: 1px solid black;
	border-radius: 5px;
	/* min-width: 450px; */
}
.notesContainer {
	display: inline-flex;
	align-content: center;
}